# Node modules
node_modules/

# Prisma SQLite DB
dev.db
prisma/schema/dev.db
*.db

# Env files
.env
request.http

# Build outputs
dist/
*.tsbuildinfo

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Media uploads
uploads/